<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}">
</head>

<body>

<div class="dashboard">
    <img th:src="@{/images/whiteLogo.png}" alt="Logo" class="logo"/>
    <h1 class="dashboard__title">Welcome to the Dashboard</h1>
    <div class="dashboard__user">
        <h2 th:text="${userdetail.firstName}" class="dashboard__user-name">User's Name</h2>
    </div>
</div>

<div class="navigation">
    <a th:href="@{/videos}" th:if="${videos.size() > 0}" class="navigation__link">Watch Videos</a>
    <a th:href="@{/upload}" class="navigation__link">Upload Video</a>
    <span sec:authorize="isAuthenticated"><a th:href="@{/logout}" class="navigation__link">Logout</a></span>
</div>

<div class="welcome-container">
    <div class="welcome-message">
        <h2>Welcome to our Video Sharing Platform!</h2>
        <br>
        <p>We're thrilled to have you here! Get ready to dive into a world of fascinating videos.
            Our platform is designed to provide you with an engaging and interactive video watching experience.
            You can explore a wide range of videos, from educational content to entertainment and much more.</p>
        <br>
        <p>What's more, you can share your favorite videos with your friends and family with just a click!
            Simply click on the video you want to share, and you'll find an option to share the video link.
            It's that simple!
        </p>
        <br>
        <p>Don't forget, you can also contribute to our growing video community by uploading your own videos.
            Click on 'Upload Video' to get started.
        </p>
        <br>
        <p>We hope you enjoy your time here. Happy watching and sharing!</p>
    </div>
</div>

</body>
</html>
