<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="ISO-8859-1">
  <title>Login</title>
  <link rel="icon" th:href="@{/images/favicon.ico}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />

</head>
<body>

<div class="container">
  <div class="form-container">

    <img th:src="@{/images/Logo.png}" alt="Logo" class="logo"/>

    <div th:if="${param.error}">
      <div class="error-message">
        <p>Invalid Username or password</p>
      </div>
    </div>

    <div th:if="${param.logout}">
      <div class="logout-message">
        <p>Logout Successful!</p>
      </div>
    </div>

    <h2>Login</h2>
    <form
            method="post"
            role="form"
            th:action="@{/login}"
            th:object="${user}">

      <div class="form-group">
        <label for="username">Email</label>
        <input th:field="*{username}" type="email" id="username" name="username" placeholder="Enter your email" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input th:field="*{password}" type="password" id="password" name="password" placeholder="Enter your password" required>
      </div>
      <button type="submit">Login</button>
    </form>
    <span> Register here: <a th:href="@{/register}">Register</a></span>
    <span> <a th:href="@{/password-request}">Forgot Password?</a></span>

  </div>
</div>

</body>
</html>
