<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Password Request</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/forgotPass.css}">
</head>
<body>

<div class="container">
    <div class="form-container">
        <img th:src="@{/images/Logo.png}" alt="Logo" class="logo"/>


        <div th:if="${error != null}">
            <div class="error-message">
                <p>[[${error}]]</p>
            </div>
        </div>

        <div th:if="${param.success}">
            <div class="error-message">
                <p>Password Reset Link Sent to your email</p>
            </div>
        </div>


        <h2>Forgot Password</h2>
        <form
                method="post"
                role="form"
                th:action="@{/password-request}"
        >

            <div class="form-group">
                <label for="email">Email</label>
                <input  type="email" id="email" name="email" placeholder="Enter your email" required>
            </div>

            <button type="submit">Submit</button>
        </form>
        <span> Register here: <a th:href="@{/register}">Register</a></span>
        <span> <a th:href="@{/login}">Login</a></span>
    </div>
</div>

</body>
</html>