<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}">
</head>

<body>

<div class="dashboard">
    <h1 class="dashboard__title">Welcome to the Dashboard</h1>
    <div class="dashboard__user">
        <h2 th:text="${userdetail.firstName}" class="dashboard__user-name">User's Name</h2>
    </div>
</div>

<div class="navigation">
    <a th:href="@{/videos}" th:if="${videos.size() > 0}" class="navigation__link">Watch Videos</a>
    <span sec:authorize="isAuthenticated"><a th:href="@{/logout}" class="navigation__link">Logout</a></span>
</div>



<script>

</script>


</body>
</html>
