<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Videos page</title>
    <link rel="icon" th:href="@{/images/favicon.ico}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/video.css}">

    <style>

    </style>
</head>

<body>

<div class="dashboard">
    <img th:src="@{/images/whiteLogo.png}" alt="Logo" class="logo"/>
    <h1 class="dashboard__title">Welcome to the Videos Page</h1>
    <div class="dashboard__user">
        <h2 th:text="${userdetail.firstName}" class="dashboard__user-name">User's Name</h2>
    </div>
</div>

<div class="navigation">
    <a th:href="@{/home}" class="navigation__link">HomePage</a>
<!--    Make Upload tab only visible to the Admin-->
    <a th:href="@{/upload}" th:if="${userdetail.role == 'ROLE_ADMIN'}"
       class="navigation__link">Upload Video</a>
    <button class="share-button">Share Video Link</button>
    <span sec:authorize="isAuthenticated"><a th:href="@{/logout}" class="navigation__link">Logout</a></span>
</div>

<!-- Display the video details -->
<div class="video-info">
    <h2 class="video-info__title"></h2>
    <p class="video-info__description"></p>
</div>

<!-- Display the video player-->
<div class="video-player">
    <video id="mainVideoPlayer" controls>
        Your browser does not support the video tag.
    </video>
</div>

<!-- Video navigation buttons -->
<div class="video-navigation">
    <button class="video-navigation__button" onclick="previousVideo()">Previous Video</button>
    <button class="video-navigation__button" onclick="nextVideo()">Next Video</button>
</div>
<script type="text/javascript" th:src="@{/js/videoscript.js}"></script>
</body>
</html>
